.boton {
    background-color:ghostwhite;
    border: solid 1px black;
    font-size: 300%;
    width: 100%;
}

.boton:hover {
    cursor: pointer;
}

body {
    background-color:lightslategrey;
}

h2 {
    color: lawngreen;
}